<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyAlbumTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Main1Servlet</servlet-name>
    <servlet-class>
  mat.java.servlet.Main1Servlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main1Servlet</servlet-name>
    <url-pattern>/Main1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServletTest</servlet-name>
    <servlet-class>
  mat.java.servlet.MainServletTest
  </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServletTest</servlet-name>
    <url-pattern>/MainServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>
  mat.java.servlet.RegisterServlet
  </servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>D:\java文件\MyAlbumTest\WebContent\photos\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>
  mat.java.servlet.SendEmailServlet
  </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAlbumServlet</servlet-name>
    <servlet-class>
  mat.java.servlet.AddAlbumServlet
  </servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>D:\java文件\MyAlbumTest\WebContent\photos\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAlbumServlet</servlet-name>
    <url-pattern>/AddAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <servlet-class>mat.java.servlet.PhotoUploadServlet</servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>D:\java文件\MyAlbumTest\WebContent\photos\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <url-pattern>/PhotoUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>